$color1: #0B132B;
$color2: #1C2541;
$color3: #3A506B;
$color4: #5BC0BE;
$color5: #6FFFE9;

.app {
  text-align: center;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color: $color3;
  height: 150px;
  padding: 20px;
  color: white;
}

.appTitle {
  font-size: 1.5em;
}

.appIntro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
