.clipFormWrapper {
  width: calc(20% - 10px);
  margin: 5px;
  background-color: #2F2F32;
}
.formTop {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #6B0F1A;
}
.clipForm {
  display: flex;
  flex-direction: column;
}
.formRow {
  display: flex;
  align-items: center;
  margin: 20px;
  & > * {
    width: 50%;
  }
  label {
    text-align: left;
    color: #fff;
  }
  input {
    background: transparent;
    border: solid #1B1B1E 1px;
    color: #fff;
    padding: 10px;
  }
}
