.clipFormWrapper {
  width: calc(20% - 10px);
  margin: 5px;
  background-color: #2F2F32;
}
.formTop {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #6B0F1A;
  min-height: 50px;
  color: #fff;
}
.clipForm {
  display: flex;
  flex-direction: column;
  button {
    background: transparent;
    border: 0;
    width: 30px;
    padding: 0;
    cursor: pointer;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
.formRow {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
  & > * {
    width: 50%;
  }
  label {
    text-align: left;
    color: #fff;
  }
  input {
    background: #1B1B1E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    &:focus {
      outline: none;
    }
  }
}
